@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropDown .child {
  display: none;
  position: absolute;
}

.dropDown:hover .child {
  display: block;
}

.ck {
  width: 750px;
  height: 149px;
}

.monteFont {
  font-family: "MonteCarlo";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 85px;
  /* identical to box height */
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* aaa */
  background: linear-gradient(90deg, #f9edbc 0%, #bf8d34 45.77%, #e0b14e 100%);

  background-clip: text;
}
/* NGUyễn Văn An */
.montecarlo-regular {
  font-family: "MonteCarlo";

}